.server-selector {
    height: 100vh;
}

.server-card {
    max-width: 28rem;

    &.actif {
        cursor: pointer;
        transition: background-color 0.2s;
        margin: 0.3rem 0;

        &.attente:hover {
            background-color: rgba(13, 110, 253, 0.3);
        }
    
        &.complet:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

}

.fond-hexagone {
    width: calc(100vw + 80px);
    height: calc(100vh + 160px);
    position: fixed;
    z-index: -1;
    opacity: 0.15;
    top: -40px;
    left: -80px;
}

.titre-fort {
    margin: 0 0 0.1rem 0;
    color: white;
    font-weight: 800;
}

.jeu-hex {
    display: none;
    height: 100vh;
    overflow: hidden;

    .tablier {
        width: 80vw;
        position: relative;
    }

    .panneau-lateral {
        width: 20vw;
        display: flex;
        flex-flow: column;
        height: 100vh;
        background-color: #181a1c;
        padding: 2rem;
        position: relative;
        z-index: 1;

        .chat-info-header {
            flex: 0 1 auto;
            margin-bottom: 1rem;

            h5 {
                margin: 0;
                color: rgba(255, 255, 255, 0.6);
                font-size: 1.2rem;
            }
        }

        .chat-info-joueurs {
            flex: 0 1 auto;

            h4 {
                font-size: 1.3rem;
            }
        }

        .chat-discussion {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column-reverse;
        }

        .chat-footer {
            flex: 0 1 auto;
        }
    }

    .tablier {
        position: relative;

        .container-tablier {
            display: flex;
            height: 100vh;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .profil-joueur {
            position: absolute;
            opacity: 0;
            transition: transform 0.8s ease-in-out,
                        opacity 0.8s ease-in-out;
            
            &.bleu {
                top: 0;
                right: 0;
                transform: translateX(100%);
                text-align: right;

                .fond-profil {
                    background-color: #5f9ddb;
                    top: -15rem;
                    right: -10rem;    
                }
            }

            &.rouge {
                bottom: 0;
                left: 0;
                transform: translateX(-100%);

                .fond-profil {
                    background-color: #e65555;
                    bottom: -15rem;
                    left: -10rem;    
                }
            }

            .fond-profil {
                width: 20rem;
                height: 30rem;
                transform: rotate(-37deg);
                position: absolute;
                z-index: -1;
            }

            .profil-texte {
                padding: 1.3rem 1.7rem;
                text-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
                h2 {
                    font-weight: 900;
                    margin: 0;
                }

                h4 {
                    font-weight: 700;
                    font-family: monospace;
                    margin: 0.2rem;
                    color: #ffffffaf;
                }
            }
        }
    }
}

/** MODALS **/
.modal {

    &.debut-partie-modal {
        .modal-content {
            width: clamp(30vw, 30rem, 90vw);
            height: clamp(25vh, 15rem, 90vh);

            .modal-body {
                display: flex;
                align-items: center;
                justify-content: center;   
                
                .hexagone { /* hexagones de l'animation d'attente. */
                    height: 3rem;
                    aspect-ratio: 1/cos(30deg);
                    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
                    background-color: #5f9ddb;
                    /* Crédit: Temani Afif, https://css-shape.com/hexagon/ */
                    animation: attente-joueur-hexagone 3s infinite;
                }
            }
        }
    }

}

/** MESSAGE VOLANT **/
.message-volant {
    position: fixed;
    -webkit-text-stroke: 1px black;
    font-size: 1.2rem;
    font-weight: 900;
    color: #000;
    opacity: 0;
    animation: message-volant 3s forwards normal;
    cursor: default;
}

/** ANIMATIONS **/
.fade-out {
    animation: fade-out 0.5s;
}

.fade-in {
    animation: fade-in 0.5s;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes message-volant {
    0% {
        transform: translateY(0) translateX(-50%);;
        opacity: 1;
    }
    100% {
        transform: translateY(-6rem) translateX(-50%);;
        opacity: 0;
    }
}

@keyframes attente-joueur-hexagone {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(0);
        background-color: #e65555;
    }
    50% {
        transform: translateY(0);
        background-color: #e65555;
    }
    60% {
        transform: translateY(-50%);
    }
    70% {
        transform: translateY(0);
        background-color: #5f9ddb;
    }
}